{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Nostaldja</title>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
		<link
			href="https://fonts.googleapis.com/css?family=Roboto"
			rel="stylesheet"
		/>
	</head>
	<body>
    <header>
			<h1>nostaldja</h1>
			<nav>
				<ul>
					<li><a href="/decades">View Decades</a></li>
					<li><a href="/fads">View Fads</a></li>
                    <li><a href="/decades/new">Add new decade</a></li>
                    <li><a href="/fads/new">Add new fad</a></li>
				</ul>
			</nav>
		</header>
		<main>
			{% block content %} {% endblock %}
		</main>
	</body>
</html>